
html{
	margin: 0;
	padding:0;
	height: 100%;
}	
	

body{
	margin: 0;
	padding:0;
	background: url(../images/back.png) #f6f4f6;
	font: 12px Tahoma, sans-serif;
	border-top: 5px solid #7e7e7e;
	outline: 0;
}
header{
	padding: 20px 0;

}
input[type="text"]{
	font-size: 12px;
	background-color: #f3f2f3;
	color: #dbcfcf;
	border: 1px solid #e7e7e7;
	height: 30px;
	margin-right: 0;
	padding: 0 10px;
	vertical-align: top;

}
button[type="submit"]{
	background-color: #29c5e6;
	color: #fff;
	height: 31px;
	font-family: 'Oswald', sans-serif;
	border: none; 
}
form[name="search"]{
	float: right;
	font-size: 0;
}
#wrapper{
	max-width: 960px;
	margin: 0 auto;
}
#navi{
	margin: 0;
	padding: 0;
}
nav ul{
	margin:0;
	padding: 0;
	background-color: #f3f3f3;
	font-size: 0;
}
nav ul>li>a{
	text-decoration: none;
	height: 41px;
 	padding:0 33px;
	display: inline-block;
	color: #ccb2b2;
}

nav ul>li>a:hover{
	background-color: #29c5e6;
	color: #fff;
}
nav ul>li{ 
	list-style-type: none;
	display: inline-block;
	font: 14px 'Oswald', sans-serif;
	color: #c1b2b2;
	padding:0 33;
	height: 41px;
	line-height: 41px;

}
#heading{
	background: transparent url(../images/bg-h1.png);
	margin: 30px 0;
	padding-left:20px; 
}
#heading >h1{
	display: inline-block;
	color: #7e7e7e;
	font: 40px'Oswald', sans-serif;
	background: url(../images/back.png);
	margin: 0;
	padding: 0 10px;
}
aside{
	float: left;
	width: 250px;
}
section{
	margin-left: 250px;
	padding-bottom: 50px;
}
.aside-menu{
	margin: 0;
	padding: 0;
	font-size: 0;
	background-color: #f3f3f3;	
	border: 1px solid #e7e7e7;
}
.aside-menu >li{
	font-size: 14px;
	list-style: none;
	height: 41px;
	line-height: 41px;

	border-bottom: 1px solid #e7e7e7;
}
.aside-menu >li:last-child{

	border-bottom: none;

}
.aside-menu >li>a{
	text-decoration: none;
	color: #8f8f8f;
	height: 41px;
	display: block;
	padding-left: 20px;

}
.aside-menu a:hover{
	background-color: #29c5e6;
	color: #fff;
}
.aside-bot{
	margin-top: 10px;
	font-size: 0;
}
.aside-bot h1{
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 0;
	color: #FFF;
	height: 41px;
	line-height: 41px;
	text-align: center;
	background-color: #29c5e6;
}
.aside-bot img{
	margin: 0;
	width: 228px;
	height: 180px;
	padding: 10px;
	background-color: #f3f3f3;
	border:1px solid #e7e7e7;

}